.nav{
    top: 100px;
    position: fixed;
    width: 100px;
    height: 100vh;
    background-color: #282828;
    display: block !important;
    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        li{
            &:not(:last-child) {
                margin-bottom: 30px;
            }
            &:first-child{
                margin-top: 40px;
            }
            a{
                color: #929292;
                font-size: 12px;
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                
            }
        }
    }
    &__profile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        bottom: 20%;
        .info{
            text-align: center;
        }
        .thumbnail{
            background-color: #AE0001;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            color: #fff;
            font-size: 18px;
            font-weight: 500;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 5px;
            text-decoration: none;
        }
        .name{
            font-size: 12px;
            font-weight: 600;
            color: #fff;
            text-decoration: none;
        }
        .workplace{
            display: none;
        }
        .exit{
            font-size: 12px;
            font-weight: 600;
            color: #fff;
            display: flex;
            align-items: center;
            margin-top: 15px;
            cursor: pointer;
            &::after{
                content: url('../../../assets/img/nav/exit.svg');
                margin-left: 5px;
            }
        }
    }
    &__duty, &__coworker, &__comment, &__request{
        &::before{
            height: 35px;
            width: 35px;
            margin-bottom: 5px;
        }
    }
    &__duty{
        &::before{
            content: url('./../../../assets/img/nav/duty.svg');
            
        }
    }
    &__coworker{
        &::before{
            content: url('./../../../assets/img/nav/coworker.svg');
        }
    }
    &__comment{
        &::before{
            content: url('./../../../assets/img/nav/comment.svg');
        }
    }
    &__request{
        &::before{
            content: url('./../../../assets/img/nav/request.svg');
        }
    }
}
.active.nav__duty{
    &::before{
        content: url('./../../../assets/img/nav/duty-active.svg');
        
    }
}
.active.nav__coworker{
    &::before{
        content: url('./../../../assets/img/nav/coworker-active.svg');
        
    }
}
.active.nav__comment{
    &::before{
        content: url('./../../../assets/img/nav/comment-active.svg');
        
    }
}
.active.nav__request{
    &::before{
        content: url('./../../../assets/img/nav/request-active.svg');
        
    }
}
@media (max-width: 480px) {
    .nav{
        height: 100%;
        width: 300px;
        position: fixed;
        right: -100%;
        transition: all .2s;
        top: 0;
        z-index: 22;
        display: flex !important;
        flex-direction: column-reverse;
        justify-content: flex-end;
        padding: 0 20px !important;
        z-index: 501;
        &-active{
            right: 0;
            transition: all .3s;
            
        }
        &__profile{
            margin-top: 40px;
            position: static;
            right: 0;
            transform: translateX(0);
            bottom: 0;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            .info{
                text-align: initial;
                margin-left: 10px;
            }
            .exit-right{
                display: none;
            }
            .exit-left{
                position: absolute;
                bottom: 10%;
                font-size: 14px;
                font-weight: 400;
            }
            .workplace{
                display: block;
                font-size: 12px;
                font-weight: 400;
                color: #fff;
                margin-top: 10px;
                &-green{
                    color: #5BD348;
                }
            }
        }
        ul{
            align-items: flex-start;
            li{
                width: 100%;
                a{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    position: relative;
                    width: 100%;
                    
                    &:before{
                        margin-right: 10px;
                        margin-bottom: 0;
                    }
                    &:after{
                        content: url('../../../assets/img/nav/mobile/arrow.svg');
                        width: 24px;
                        height: 24px;
                        position: absolute;
                        right: 0;
                    }
                }
            }
        }
        
    }
}