.nav{
    // position: fixed;
    // left: 0;
    top: 100px;
    position: fixed;
    width: 100px;
    height: 100vh;
    background-color: #282828;
    display: block !important;
    ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        li{
            &:not(:last-child) {
                margin-bottom: 30px;
            }
            &:first-child{
                margin-top: 40px;
            }
            a{
                color: #929292;
                font-size: 12px;
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                text-align: center;
                
            }
        }
    }
    &__duty, &__coworker, &__comment, &__correction{
        &::before{
            height: 35px;
            width: 35px;
            margin-bottom: 5px;
        }
    }
    &__duty{
        &::before{
            content: url('./../../../assets/img/nav/duty.svg');
            
        }
    }
    &__coworker{
        &::before{
            content: url('./../../../assets/img/nav/coworker.svg');
        }
    }
    &__comment{
        &::before{
            content: url('./../../../assets/img/nav/comment.svg');
        }
    }
    &__correction{
        &::before{
            content: url('./../../../assets/img/nav/correction.svg');
        }
    }
}
.active.nav__duty{
    &::before{
        content: url('./../../../assets/img/nav/duty-active.svg');
        
    }
}
.active.nav__coworker{
    &::before{
        content: url('./../../../assets/img/nav/coworker-active.svg');
        
    }
}
.active.nav__comment{
    &::before{
        content: url('./../../../assets/img/nav/comment-active.svg');
        
    }
}
.active.nav__correction{
    &::before{
        content: url('./../../../assets/img/nav/correction-active.svg');
        
    }
}
@media (max-width: 480px) {
    .nav{
        height: 100%;
        width: 300px;
        position: fixed;
        right: -100%;
        transition: all .2s;
        top: 0;
        &-active{
            right: 0;
            transition: all .2s;
        }
        ul{
            // position: fixed;
            // right: 100%;
            margin-top: 50px;
            align-items: flex-start;
            padding: 0 20px;
            li{
                width: 100%;
                a{
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    position: relative;
                    width: 100%;
                    
                    &:before{
                        margin-right: 10px;
                        margin-bottom: 0;
                    }
                    &:after{
                        content: url('../../../assets/img/nav/mobile/arrow.svg');
                        width: 24px;
                        height: 24px;
                        position: absolute;
                        right: 0;
                    }
                }
            }
        }
        
    }
}