@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');


* {
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #202020;
}
main{
    width: 100%;
}
h1{
    font-size: 60px;
    color: #fff;
}
.wrapper{
    margin-left: 100px;
}

@media (max-width: 480px) {
    .wrapper{
        margin-left: 0;
    }
}