// $main-blue: #2373D0;
// $main-blue_hovered: #1F86FF;
// $main-blue_disabled: #D5D5D5;
// $main-blue_pressed: #1A66C0;

// $secondary-blue: #8BC0FF;
// $secondary-blue_hovered: #B8DAFF;
// $secondary-blue_pressed: #3290FF;

// $main-black: #282828;
// $main-black_hovered: #484848;
// $main-black_pressed: #000000;

$main-white: #E2E2E2;
$main-black: #282828;
$second-black: #1F1F1F;
$main-gray: #929292;
$second-gray: #484848;

$blue: #2373D0;
$red: #DE4C4A;

