.btn{
    margin: 0 auto;
    width: 245px;
    background-color: #fff;
    font-size: 16px;
    color: #000;
    border: none;
}
.wrapper{
    width: 500px;
    height: 100px;
    background-color: #fff;
    margin-bottom: 20px;
}