
.coworkers{
    &__wrapper{
        background-color: #282828;
        width: 100%;
        height: 100%;
        padding: 20px 40px;
        border-radius: 6px;
    }
    &__titles{
        border-bottom: 1px solid #929292;
        padding: 10px 0 10px 0;
    }
    &__title{
        color: #929292;
        font-size: 16px;
        font-weight: 600;
    }
    &__list{
        padding: 0 0 20px 0;
        &-item{
            padding: 15px 0;
            display: block;
            border-bottom: 1px solid #929292;
        }
    }
    &-popup{
        // display: none;
        &_active{
            display: block;
            position: fixed;
            right: 50%;
            transform: translateX(50%);
            background-color: #282828;
            max-width: 385px;
        }
        &__wrapper{
            padding: 30px;
        }
        &__close{
            position: absolute;
            right: 5px;
            width: 30px;
            height: 30px;
            cursor: pointer;
            &::before, &::after{
                content: "";
                position: absolute;
                top: 21px;
                left: 10px;
                width: 2px;
                height: 15px;
                background: #929292;
            }
            &::before{
                transform: rotate(45deg);
            }
            &::after{
                transform: rotate(-45deg);
            }
        }
        .item{
            display: flex;
            flex-direction: column;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
        .coworkers__title{
            margin-bottom: 10px;
        }
    }
    .item{
        &__name-wrapper{
            display: flex;
            align-items: center;
        }
        &__round{
            color: #E2E2E2;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 500;
            background-color: #AE0001;
            border-radius: 50%;
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }
        &__block{
            display: flex;
            flex-direction: column;
            margin-left: 10px;
        }
        &__name{
            color: #E2E2E2;
            font-size: 16px;
            font-weight: 400;
        }
        &__position{
            color: #929292;
            font-size: 12px;
            font-weight: 400;
            margin-top: 5px;
        }
        &__phone, &__birthday, &__place, &__status, &__quote{
            color: #E2E2E2;
            font-size: 16px;
            font-weight: 400;
        }
        &__quote{
            font-size: 14px;
            max-width: 360px;
            -webkit-line-clamp: 3;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
        &__phone{
            text-decoration: none;
        }
        &__status {
            display: flex;
            align-items: center;
            &::before{
                content: '';
                display: inline-block;
                width: 8px;
                height: 8px;
                border-radius: 50%;
                margin-right: 8px;
            }
            &-online{
                &::before{
                    background-color: #5BD348;
                }
            }
            &-offline{
                &::before{
                    background-color: #929292;
                }
            }
            &-away{
                &::before{
                    background-color: #AE0001;
                }
            }
        }
        &__more{
            font-size: 12px;
            font-weight: 400;
            color: #929292;
            cursor: pointer;
            &::before{
                content: 'Подробнее';
            }
            &:hover{
                text-decoration: underline;
                text-decoration-color: #929292;
            }
        }
        
    }
    &__btn{
        background-color: transparent;
        border: none;
        font-size: 12px;
        color: #929292;
        font-weight: 400;
        cursor: pointer;
        margin: 0 auto;
        display: block;
    }
}

@media (max-width: 1050px) {
    .coworkers{
        &__wrapper{
            padding: 10px;
        }
    }
}
@media (max-width: 1400px){
    .coworkers{
        &__none{
            display: none;
        }
    }
}

@media (max-width: 767px) {
    .coworkers{
        .item{
            &__status {
                display: flex;
                align-items: center;
                &::before{
                    display: none;
                }
                &::after{
                    content: '';
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    margin-left: 8px;
                }
                &-online{
                    &::after{
                        background-color: #5BD348;
                    }
                }
                &-offline{
                    &::after{
                        background-color: #929292;
                    }
                }
                &-away{
                    &::after{
                        background-color: #AE0001;
                    }
                }
            }    
        }
    }
    
}

@media (max-width: 480px) {
    .coworkers{
        .item{
            &__more{
                text-align: right;
                &::before{
                    content: '';
                    width: 10px;
                    height: 10px;
                    border-top: 2px solid #929292;
                    border-right: 2px solid #929292;
                    transform: rotate(45deg);
                    display: inline-block;
                }
            }
        }
    }
}