
.banner{
    width: 100%;
    background-color: #282828;
    max-height: 100px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 23;
    &__title{
        font-size: 30px;
        font-weight: 600;
        color: #E2E2E2;
        padding-left: 30px;
    }
    
}
.burger{
    display: none;
}
@media (max-width: 768px) {
    .banner{
        &__title{
            font-size: 20px;
        }
    }
}
@media (max-width: 480px) {
    .banner{
        padding-right: 20px;
        justify-content: space-between;
        height: 75px;
        position: static;
        &__logo{
            height: 100%;
            img{
                height: 100%;
            }
        }
        &__title{
            display: none;
        }
    }
    .burger{
        display: block;
        position: relative;
        width: 18px;
        height: 12px;
        cursor: pointer;
        z-index: 101;
        &:before, &:after{
            content: '';
            background: #929292;
            position: absolute;
            width: 100%;
            height: 2px;
            left: 0;
            transition: all .3s;

        }
        &:before{
            top: 0;
        }
        &::after{
            bottom: 0;
        }
        span{
            background-color: #929292;
            position: absolute; 
            width: 100%;
            height: 2px;
            left: 0;
            top: 5px;
            transition: all .3s;

        }
        &-active{
            &::before{
                transform: rotate(45deg);
                top: 0px;
                transition: all .3s;
            }
            &::after{
                transform: rotate(-45deg);
                top: 0px;
                transition: all .3s;
            }
            span{
                transform: scale(0);
                transition: all .3s;
            }
        }
    }
}